/* Webfont: Walkingrush */@font-face {
    font-family: 'Walkingrush';
    src: url('Walkingrush.woff2') format('woff2'), /* Modern Browsers */
         url('Walkingrush.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

