/* Webfont: Walkingrush */@font-face {
    font-family: 'Walkingrush';
    src: url('Walkingrush.eot'); /* IE9 Compat Modes */
    src: url('Walkingrush.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Walkingrush.woff') format('woff'), /* Modern Browsers */
         url('Walkingrush.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

