@import"http://fonts.googleapis.com/css?family=Playball";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
input,
textarea,
button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none !important;
    vertical-align: top;
    background: transparent;
    font-weight: 400;
    line-height: 1.5em
}

ol,
ul {
    list-style: none
}

a,
span {
    vertical-align: baseline
}

b,
strong {
    font-weight: 700
}

i,
dfn {
    font-style: italic
}

img {
    max-width: 100%
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent
}

.clearfix {
    zoom: 1
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.hidden,
.visuallyhidden {
    display: none
}

.left {
    float: left
}

.right {
    float: right
}

.customselect_wrap {
    position: relative;
    cursor: pointer
}

.customselect_wrap select {
    margin: 0;
    padding: 0;
    border: none;
    z-index: 100;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.customselect_wrap span.customSelect {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #969696
}

.column_center h1,
.column_center h2,
.column_center h3,
.column_center h4,
.column_center h5,
.column_center h6 {
    margin: 15px 0;
    padding: 0 0 5px;
    border-bottom: 1px solid #969696;
    font: 15px Open Sans;
    color: #969696;
    text-transform: uppercase
}

.column_center h2,
.column_center h3,
.column_center h4 {
    font-size: 15px
}

.column_center h5,
.column_center h6 {
    font-size: 13px
}

.column_center .page_heading {
    margin: 20px 0 32px;
    font: 15px Open Sans;
    text-transform: uppercase;
    line-height: 20px;
  
    color: #fff;
    padding: 9px 20px;
    text-align: center;
    border-bottom: 0px
}

.column_center .page_heading a {
    float: right
}

p {
    margin: 12px 0;
    padding: 0
}

.column_center ul {
    list-style-type: square;
    list-style-position: inside
}

.column_center ol {
    list-style-type: decimal;
    list-style-position: inside
}

a {
    color: black;
    text-decoration: none
}

a:hover{
    color: gold;
}
a:focus {
    color: #a3a3a3
}

.product {
    text-align: center
}

.product>div {
    border: 1px solid #dddddd;
    padding: 20px 20px 24px
}

.product_listing_main+.product_listing_main {
    margin-top: 32px
}

.product_img a {
    display: block;
    padding: 0 22px;
    background: #dddddd;
    overflow: hidden
}

.product_name {
    font-weight: 700;
    margin-bottom: 10px
}

.product_name,
.product_name a {
    font-weight: 300;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    color: black;
}

.product_name a:hover {
    color: gold;
}

.product_img a img {
    transition: all .4s ease
}

.product_img a:hover img {
    opacity: .6
}

.product_desc {
    margin-bottom: 13px;
    line-height: 21px;
    font-size: 12px;
    color: #a3a3a3
}

.product_price {
    margin: -45px 0 0
}

.product_price .money {
    background-color: #f17981;
    color: #fff;
    border: 4px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    height: 90px;
    font-size: 23px;
    font-family: Playball, cursive;
    line-height: 80px;
    min-width: 90px;
    vertical-align: top;
    text-align: center;
    position: relative;
    z-index: 10
}

.product_price .money.compare-at-price {
    text-decoration: line-through;
    display: inline-block !important;
    font-size: 17px;
    border: none;
    background: #969696;
    padding: 3px 5px;
    height: auto;
    line-height: 19px;
    min-width: 0px;
    margin-top: 25px;
    border: 2px solid #ffffff
}

.product_name .btn {
    display: inline-block;
    background: #ff826e;
    font-size: 11px;
    line-height: 19px;
    color: #fff;
    padding: 7px 9px;
    white-space: nowrap;
    font-weight: 400;
    text-transform: uppercase
}

.product .sale {
    position: absolute;
    left: 22px;
    top: 6px;
    background: #f17981;
    color: #fff;
    padding: 4px 10px
}

.rte {
    margin-top: 15px;
    margin-bottom: 15px;
    color: inherit
}

.rte a {
    color: inherit;
    text-decoration: underline
}

.rte a:hover {
    text-decoration: none
}

.rte h1 {
    font-size: 19px
}

.rte h2 {
    font-size: 17px
}

.rte h3 {
    font-size: 16px
}

.rte h4 {
    font-size: 14px
}

.rte h5 {
    font-size: 13px
}

.rte h6 {
    font-size: 12px
}

.rte img {
    margin-top: 15px;
    margin-bottom: 15px
}

label {
    font-weight: 700;
    font-size: 12px
}

select,
select.form-control,
textarea,
textarea.form-control,
input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=telephone] {
    padding: 6px;
    border: 1px solid #dddddd;
    font: 13px Arial;
    color: #969696;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    box-shadow: none
}

select,
select.form-control {
    padding: 8px 3px
}

textarea,
textarea.form-control {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px
}

.form-control:focus {
    border-color: #aaa;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #ddd;
    box-shadow: inset 0 1px 1px #00000013, 0 0 8px #ddd
}

.form-group {
    vertical-align: top !important;
    margin-top: 15px;
    margin-bottom: 0
}

.form-horizontal label {
    padding-top: 0 !important;
    text-align: right;
    line-height: 34px
}

.form-horizontal select {
    width: 100%
}

.action_bottom span.note,
.action_bottom span.note a {
    margin-left: 5px
}

.alert {
    margin: 15px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.alert>p,
.alert>ul,
.alert>ol {
    list-style-type: none;
    margin: 0
}

.alert>p+p,
.alert>ul+ul {
    margin: 10px 0 0
}

.btn,
.btn a,
.btn-info,
.btn-primary {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background: #ff826e;
    font-size: 11px;
    line-height: 19px;
    color: #fff;
    padding: 7px 15px 5px;
    white-space: nowrap;
    font-weight: 400;
    text-transform: uppercase
}

.btn a {
    padding: 0 !important;
    border: none !important
}

.btn:hover,
.btn:hover a,
.btn-info:hover,
.btn-primary:hover {
    background: #f39097;
    color: #fff;
    border: none !important
}

.btn:focus {
    color: #fff !important
}

html,
body {
    height: 100%
}

body {
    min-width: 300px
}

#wrapper {
    background: url(http://cdn.shopify.com/s/files/1/0507/2673/t/2/assets/body_bg.png?v=136315113976358986671400662847) 0 0 repeat !important
}

#wrapper2 {
    overflow: hidden;
    width: 1240px;
    margin: 0 auto;
    background: #ffffff
}

.container {
    padding: 0
}

#main {
    margin-top: 15px
}

#main_content,
.column .widget {
    margin-bottom: 30px !important
}

.column_center {
    width: 100%
}

.column_center #main_content {
    margin: 0 0 0 25%
}

.column_left {
    margin-left: -100%
}

.sidebar_both .column_center {
    width: 100%
}

.sidebar_both .column_center #main_content {
    margin: 0 25%
}

.sidebar_both .column_left {
    margin-left: -100%
}

.sidebar_both .column_right {
    margin-left: -25%
}

.sidebar_both .product_price {
    margin-top: 0
}

.sidebar_off .column_center #main_content {
    margin: 0
}

#header {
    text-align: center
}

.header_top {
    background: #f17981;
    color: #fff
}

#logo {
    margin-top: 43px;
    text-align: center;
    margin-bottom: 11px
}

#logo a {
    display: inline-block
}

#logo a img {
    margin-bottom: 14px
}

#logo a b {
    display: block;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
    color: #444;
    transition: all .4s ease
}

#logo b+span {
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #444;
    margin-top: 9px;
    display: inline-block;
    transition: all .4s ease
}

#logo a:hover * {
    color: #f17981
}

.header_user {
    float: left
}

.header_user li {
    float: left;
    padding: 12px 36px 0 0
}

.header_user li a {
    font-family: Open Sans, sans-serif;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    line-height: 21px;
    vertical-align: top;
    text-transform: uppercase
}

.header_user li a i {
    margin: 0 5px 0 0;
    line-height: 1.5em
}

.header_user li a:hover {
    text-decoration: underline
}

.header_top_right {
    float: right
}

.header_currency {
    float: right;
    border-right: 1px solid #f39097;
    min-height: 45px
}

.header_currency #currencies {
    font-family: Open Sans, sans-serif;
    display: inline-block;
    width: 76px;
    text-align: center;
    line-height: 21px;
    vertical-align: top;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    background: #f17981
}

.header_currency .customselect_wrap {
    display: inline-block;
    margin-top: 8px
}

.header_currency span.customSelect span {
    width: 60px;
    height: 30px;
    padding: 0 5px;
    line-height: 30px
}

.header_currency i {
    font-size: 11px;
    margin-left: 11px;
    position: absolute;
    right: 10px;
    top: 10px
}

.header_cart {
    float: right;
    position: relative;
    padding: 12px 30px 12px 0;
    border-right: 1px solid #f39097
}

.header_cart a {
    font-family: Open Sans, sans-serif;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 21px;
    cursor: pointer;
    text-transform: uppercase
}

.header_cart a b {
    vertical-align: baseline
}

.header_cart a .money {
    color: inherit
}

.header_cart a:hover {
    text-decoration: underline
}

.header_cart img {
    margin-top: -4px;
    margin-right: 10px
}

.header_search {
    position: relative;
    width: 215px;
    margin: 14px auto 0
}

.header_search #search-field {
    border-radius: 0;
    line-height: 18px;
    width: 215px;
    max-width: none;
    margin: 0;
    height: 32px;
    padding: 6px 32px 6px 8px;
    background-color: #fff;
    border-color: #ddd
}

.header_search #search-submit {
    font-size: 15px;
    color: #969696;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0px
}

.header_search #search-submit i {
    line-height: 34px;
    font-size: 12px;
    transition: all .4s ease
}

.header_search #search-submit:hover i {
    color: #f17981
}



.sf-menu {
    display: inline-block
}

.sf-menu li {
    position: relative
}

.sf-menu>li {
    display: inline-block;
    z-index: 10;
    padding: 0 13px
}

.sf-menu>li+li {
    margin-left: 18px
}

.sf-menu>li>a {
    font-family: Open Sans, sans-serif;
    display: inline-block;
    z-index: 1;
    position: relative;
    font-size: 15px;
    color: #969696;
    text-decoration: none;
    line-height: 21px;
    text-transform: uppercase
}

.sf-menu>li.active>a,
.sf-menu>li:hover>a {
    color: #f17981
}

.sf-menu>li>a.sf-with-ul:after {
    position: absolute;
    content: "";
    left: 50%;
    margin-left: -2px;
    right: 0;
    bottom: -7px;
    -moz-transition: top .3s ease-out;
    -o-transition: top .3s ease-out;
    -webkit-transition: top .3s ease-out;
    border: 4px solid;
    border-color: #969696 transparent transparent transparent;
    width: 0;
    height: 0
}

.sf-menu>li>a.sf-with-ul:hover:after,
.sf-menu>li.current>a.sf-with-ul:after,
.sf-menu>li.sfHover>a.sf-with-ul:after {
    border-color: #f17981 transparent transparent transparent
}



.sf-menu ul li {
    position: relative;
    padding: 4px 20px;
    width: 170px;
    line-height: 20px;
    text-align: left
}

.sf-menu ul li a {
    color: #fff
}



.custom_showcase .bg {
    position: absolute;
    left: -20px;
    right: -50px;
    top: -45px;
    bottom: 61%;
    border-bottom: 7px solid #ffffff;
    -moz-transform: rotate(23deg);
    -o-transform: rotate(23deg);
    -webkit-transform: rotate(23deg);
    transform: rotate(23deg);
    background: #f17981;
    transition: all .4s ease;
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9205048534524399, M12=-0.3907311284892747, M21=0.3907311284892747, M22=0.9205048534524399, SizingMethod='auto expand')"
}

.custom_showcase a:hover .bg {
    background: #ff826e
}

.custom_showcase a {
    display: block;
    position: relative;
    background: #f17981;
    overflow: hidden
}

.custom_showcase a .abs {
    position: absolute;
    left: 20px;
    top: 23px;
    right: 20px;
    bottom: 0
}

.custom_showcase a img {
    width: 100%
}

.custom_showcase a h3 {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center
}

.custom_showcase a h4 {
    font-family: Playball, cursive;
    font-size: 30px;
    line-height: 30px;
    color: #fff
}

.product_listing_main .product_links form {
    display: inline-block
}

.product-listing__collection {
    margin-top: 30px
}

#footer>div {
    border-top: 1px solid #dddddd;
    margin-top: 9px
}

.custom_footer {
    position: relative
}

.custom_footer+.custom_footer:after {
    position: absolute;
    left: -17px;
    top: 37px;
    bottom: 5px;
    content: "";
    border-left: 1px solid #dddddd
}

.custom_footer h3 {
    text-transform: none;
    color: #f17981;
    line-height: normal;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    margin: 33px 0 15px
}

.custom_footer ul li {
    position: relative;
    padding: 3px 0 3px 18px
}

.custom_footer ul li:after {
    position: absolute;
    content: "\f054";
    left: 0;
    top: 10px;
    font-size: 8px;
    color: #f17981;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.custom_footer ul li a {
    line-height: 20px;
    vertical-align: top;
    font-size: 13px;
    color: #969696
}

.custom_footer ul li.active a,
.custom_footer ul li a:hover {
    color: #f17981
}

#footer .footer_bot {
    background: #f17981;
    color: #fff;
    border-top: 0px;
    margin-top: 36px;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    position: relative
}

#footer .copyright {
    padding: 3px 100px 0 0
}

#footer .copyright a {
    color: #fff3f2
}

#footer .copyright a:hover {
    text-decoration: underline
}

.top {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 40px;
    width: 48px;
    display: block;
    text-align: center;
    vertical-align: middle;
    background: #ff826e;
    border-right: 3px solid #ffffff;
    border-left: 3px solid #ffffff
}

.top:after {
    position: absolute;
    content: "\f077";
    font-size: 15px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    left: 0px;
    right: 0px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.top:hover {
    background: #f39097
}

ul.tags {
    margin-top: 15px;
    margin-bottom: 20px;
    list-style-type: none
}

ul.tags li {
    float: left
}

ul.tags li+li {
    margin: 0 0 0 5px
}

ul.tags li a {
    display: block;
    padding: 5px 10px;
    color: #444;
    background: #fff3f2;
    transition: all .4s ease
}

ul.tags li a:hover,
ul.tags li.active a {
    background: #f17981;
    color: #fff
}

.collection_info {
    margin-top: 15px
}

.collection_info .collection_img {
    text-align: center
}

.collection_info .collection_desc .rte {
    margin: 0
}

.breadcrumb {
    margin: 10px 0 0;
    border-top: 10px solid #f17981;
    padding: 6px 15px;
    background: #fff3f2;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.collection_listing .collection {
    margin: 30px 0 0
}

#pagination {
    display: inline-block;
    overflow: hidden;
    margin: 30px 0 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

#pagination span {
    display: block;
    float: left
}

#pagination span~span {
    border-left: 1px solid #ffffff
}

#pagination span a {
    display: block;
    padding: 7px 20px;
    color: #444;
    background: #fff3f2;
    transition: all .4s ease
}

#pagination span a:hover,
#pagination span.current {
    color: #fff;
    background: #f17981
}

#pagination span.current {
    cursor: default;
    display: block;
    padding: 7px 20px
}

.column .widget h3.widget_header {
    margin: 20px 0 0;
    padding: 9px 20px;
    text-align: center;
    font: 15px Open Sans;
    color: #fff;
    text-transform: uppercase;
    background: #f17981
}

.column .widget ul.list {
    border-bottom: 1px solid #dddddd
}

.column .widget ul.list li {
    padding: 10px 0
}

.column .widget ul.list li+li {
    border-top: 1px solid #dddddd
}

.product_listing_sidebar .product {
    margin-top: 20px
}

.product_listing_sidebar .product_img img {
    width: 100%
}

.product_listing_sidebar .product_img a {
    padding: 10px 54px
}

.product_listing_sidebar .product_price {
    margin-top: -27px
}

.product_listing_sidebar .product_links form {
    display: inline-block
}

#searchresults {
    margin: 0
}

#searchresults .search-form {
    margin: 15px 0 0
}

#searchresults .search-form input {
    width: 100%;
    height: 34px;
    line-height: 18px;
    float: left;
    padding: 7px 34px 7px 10px
}

#searchresults .search-form button {
    width: 34px;
    height: 34px;
    float: left;
    margin: 0 0 0 -34px;
    background: none;
    border: none;
    font-size: 20px;
    color: #ea666f
}

#searchresults .search-form button:hover {
    color: #a3a3a3
}

#searchresults .search-form button i {
    line-height: 32px
}

#searchresults h3 {
    margin: 0;
    padding: 0
}

#searchresults ol {
    list-style-type: none;
    padding: 15px 0 0;
    border-bottom: 1px solid #dddddd
}

#searchresults ol li {
    overflow: hidden;
    margin: 0;
    padding: 15px 0;
    border-top: 1px solid #dddddd
}

#searchresults ol li .search-result_image {
    float: left;
    margin-right: 15px
}

#searchresults ol li .search-result_container {
    padding: 15px 0 0
}

.product_wrap {
    margin-top: 21px
}

#product_image-container {
    overflow: hidden
}

.product_wrap .bxslider {
    margin: 0
}

.product_image .bx-wrapper {
    overflow: hidden;
    border: 1px solid #dddddd
}

.product_wrap #bx-pager {
    width: 360px
}

.product_wrap #bx-pager a {
    width: 105px;
    overflow: hidden;
    margin: 15px 15px 0 0;
    border: 1px solid #dddddd
}

.product_wrap .product_name {
    margin-top: 20px;
    font-size: 20px
}

.product_wrap .product-price {
    padding: 0
}

.product_wrap .product-price .money {
    margin: 0 5px 0 0;
    color: #f17981;
    display: inline-block;
    font-size: 23px;
    font-family: Playball, cursive
}

.product_wrap .product-price .compare-at-price {
    text-decoration: line-through;
    color: #969696
}

.product_wrap .variants-wrapper {
    padding: 15px 0 0
}

.product_wrap .variants-wrapper label {
    margin-right: 10px
}

.product_wrap #purchase label {
    display: inline-block;
    margin: 0;
    padding: 0 !important;
    line-height: 37px
}

.product_wrap #purchase #quantity {
    width: 50px;
    height: 37px;
    line-height: 18px;
    display: inline-block;
    margin: 0 10px;
    padding: 9px 0 8px;
    outline: none;
    text-align: center
}

.product_wrap #purchase #add-to-cart {
    width: auto;
    height: 37px;
    padding: 9px 15px
}

.product_wrap #purchase #add-to-cart i {
    vertical-align: middle;
    margin: 0 5px 0 0;
    font-size: 15px;
    line-height: 1.5em;
    position: relative;
    top: -2px
}

.product_wrap .product_details {
    margin: 15px 0 0;
    padding: 10px 0 15px;
    border: 1px solid #dddddd;
    border-width: 1px 0
}

.product_wrap .product_details>div {
    padding: 5px 0 0
}

.product_wrap #product_description h4 {
    padding-bottom: 0;
    border: none;
    text-transform: none
}

.product_wrap .addthis_toolbox {
    margin: 15px 0 0;
    padding: 15px 0 0;
    border-top: 1px solid #dddddd
}

.product_image-additioanl a {
    width: 33%;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.product_wrap .pagination__product {
    width: 100%;
    margin: 15px 0
}

.product_wrap .pagination__product ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 15px !important
}

.product_wrap .pagination__product ul li.left-arrow {
    float: left
}

.product_wrap .pagination__product ul li.right-arrow {
    float: right
}

.widget_related_products h3 {
    margin: 50px 0 20px;
    border: none;
    padding: 5px;
    font: 15px Open Sans;
    color: #fff;
    text-transform: uppercase;
    background: #f17981
}

ul.product_listing_related {
    list-style-type: none
}

.blog-article {
    padding: 15px 0 0
}

.article_header {
    padding: 15px 0;
    border-bottom: 1px solid #dddddd
}

.article_header .product_name a {
    font-size: 20px
}

.blog-article_meta-comments {
    float: right;
    padding: 2px 0 0 15px
}

.blog-article_date,
.blog-article_meta-tags {
    font-style: italic
}

.blog-article_meta-tags a {
    text-decoration: underline
}

.article_meta-comments {
    float: right;
    padding: 2px 0 0 15px
}

.article_meta-tags a {
    text-decoration: underline
}

.article_date,
.article_meta-tags,
.article_meta {
    font-style: italic
}

.article .addthis_toolbox {
    margin: 20px 0
}

#comments ul {
    list-style-type: none
}

.comment-form #comment-author,
.comment-form #comment-email,
.comment-form #comment-body {
    width: 100%
}

.comment-form #comment-body {
    min-height: 100px;
    margin-bottom: 15px
}

.article_comments-form {
    padding-bottom: 10px;
    margin-top: 1em;
    padding-top: 10px
}

.section-title {
    margin-bottom: 2px;
    padding-bottom: 8px
}

.comment-form .row {
    margin-bottom: 1em
}

.customer_account .customer_name {
    text-transform: none !important;
    padding-right: 52px;
    position: relative
}

.customer_name .divider {
    margin: 0 7px
}

.customer_name .email {
    color: #969696
}

.customer_name a {
    position: absolute;
    right: 0px;
    top: 0px
}

.customer_addresses ul.customer_addresses_actions {
    list-style-type: none;
    margin: 15px 0
}

.customer_addresses ul.customer_addresses_actions li a i {
    margin: 0 5px 0 0;
    line-height: inherit
}

.customer_addresses .col-sm-offset-4 label {
    line-height: 1.6em
}

ul.address {
    list-style-type: none;
    margin-bottom: 10px
}

address.note {
    margin-bottom: 10px
}

.order_date {
    margin: 15px 0 0
}

#order_details {
    margin: 30px 0 0
}

.cart-list {
    overflow: hidden
}

.cart-list>.row {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd
}

.cart-list .item_image {
    text-align: center
}

.cart-list .item_image a img {
    max-width: 100%
}

.cart-list .product_name {
    margin-top: 15px
}

.cart-list .item_remove {
    margin: 0 0 0 10px
}

.cart-list .item_remove a {
    font-size: 20px;
    color: #fe2a2a
}

.cart-list .item_remove a:hover {
    color: #ea666f
}

.cart-list .row h3.item_vendor {
    border-bottom: 1px solid #dddddd;
    color: #888
}

.cart-list .item_price {
    padding: 10px 0 0
}

.cart-list .item_price .price {
    line-height: 37px
}

.cart-list .item_price label {
    padding: 0;
    line-height: 37px
}

.cart-list .item_price .input-small {
    width: 60px !important;
    height: 37px;
    line-height: 18px;
    display: inline-block;
    padding: 9px 5px 8px;
    text-align: center
}

.cart-list .item_price .total {
    text-align: right
}

.cart-list .item_price .total h3 {
    vertical-align: baseline;
    border: none
}

.cart_subtotal h3 {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd
}

.cart_subtotal h3 .money {
    float: right
}

.cart_buttons {
    margin: 30px 0
}

.cart_instructions textarea {
    width: 100%
}

#payment-methods {
    overflow: hidden;
    padding: 15px 0 0
}

#payment-methods ul {
    list-style-type: none;
    list-style-position: outside
}

#payment-methods ul li {
    float: left;
    padding: 0 7px 0 0
}

#guest {
    padding: 30px 0 0
}

#guest form {
    padding: 15px 0 0
}

.contact-scope iframe {
    width: 100%;
    margin: 15px 0;
    border: 1px solid #dddddd
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form input[type=telephone],
.contact-form textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 870px
}

.contact-form textarea {
    width: 100%
}

/*# sourceMappingURL=/s/files/1/0507/2673/t/2/assets/style.css.map?v=112549641522203434171656105726 */